/* Global */
html,
body {
  min-width: 290px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

code {
  background-color: #f7f7f7;
  color: #000000;
  padding: 1rem;
  line-height: 2;
}

p {
  margin: 2rem 0 2rem 0;
}

header {
  color: inherit;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
}

section li {
  margin: 15px 0px 0px 20px;
}

#navbar {
  position: fixed;
  min-width: 290px;
  width: 300px;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(0, 22, 22, 0.4);
  border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

@media only screen and (max-width: 850px) {
  #navbar,
  #main-doc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #navbar {
    position: absolute;
    top: 0;
    max-height: 275px;
  }
  #main-doc {
    position: relative;
    top: 275px;
    margin: 0;
  }
}
